@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Century Gothic, Avon Garde, sans-serif;
}

img {
	width: 100%;
    display: block;
}

body { 
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    background-color:lightgrey;
}

.logo {
    height: 4rem;
    width: auto;
    padding: .5rem 5%;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/billboard.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background position: center center;
    background-size: 40rem;
}

h1 {
    margin: 6rem;
    font-family: Century Gothic; 
    text-transform: uppercase;
    padding: .25rem 5%;
}

footer {
    background-color: lightgrey;
    overflow: hidden;
    